/* .pull-left{
    float: left;
}
.pull-left h4{
    font-size: medium;
    color: black;
    font-weight: 700;
    font-size: 20px;;
} 
.pull-left p{
    font-size: medium;
    color: rgb(161, 144, 144);
    font-weight: 700;
} 
.pull-right{
    float: right;
} */